{
    "presets": ["es2015"],
    "sourceMaps": true,
    "retainLines": true,
    "plugins": [
        ["transform-runtime", {
          "polyfill": false,
          "regenerator": true
        }]
      ]
}